@{
  Layout = "_Layout";
}

<div id="home" class="card">
  <h1>Eau Clair's Hair Salon</h1>

  <div id="home-bg"></div>

  <div class="buttons">
    <p>@Html.ActionLink("Stylist List", "Index", "Stylists")</p>
    <p>@Html.ActionLink("Client List", "Index", "Clients")</p>
  </div>
</div>