@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Please confirm that you are removing the following client from your list.</h3>

@Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Confirm" />
}
@Html.ActionLink("Back to Client List", "Index")